
	<div class="navbar-fixed">
		<nav class="red lighten-2" role="navigation">
			<div class="nav-wrapper">
				<div class="box-main-title">
					<a href="<%- url_for(config.root) %>" class="brand-logo"><%= config.title %></a>
				</div>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

<%- partial('_widget/page-nav') %>


			</div>
		</nav>
	</div>

	<div class="container">
		<div class="row">
