
<%
	if (page.prev) {
%>
					<a class="btn-floating  waves-effect waves-light red lighten-2" href="<%- url_for(config.root + page.prev.path) %>" title="<%-page.prev.title %>"><i class="material-icons">chevron_left</i></a>
<%
	}
%>

<%
	if (page.next) {
%>
					<a class="btn-floating  waves-effect waves-light red lighten-2" href="<%- url_for(config.root + page.next.path) %>" title="<%-page.next.title %>"><i class="material-icons">chevron_right</i></a>
<%
	}
%>
