
.layout-logo
	background-color: color-layout-logo-backgroud

.panel-logo
	padding-top: 10px
	padding-bottom: 10px

.box-logo
	//margin: 0 auto
	//width: 200px
	height:210px
	background-color:#E57373

.img-logo
	//margin: 0 auto
	//width: 200px
	width:100%;

.box-main-title
	//margin: 0 auto
	//width: 280px
	margin-left:10px

.box-sub-title
	margin: 0 auto
	width: 120px
